body {
    transition: background-color 0.5, color 0.5s;

}

body.light-mode {
    background-color:rgb(214, 214, 214);
    color:black

}

body.dark-mode {
    background-color: black;
    color:white;

}

.theme.switch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.theme-switch {
    position:relative;
    display: inline-block;
    width: 80px;
    height: 44px;

}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;

}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffc72b;
    transition: 0.4s;
    border-radius:44px;
    width: 80px;
    height: 44px;

}

.slider:hover {
    box-shadow: 0 020px rgb(214, 252, 0)

}

.slider::before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-image: url('.light-mode_24dp_E8EAED_FILL0_EGHT400_GRAD0_opsz24.svg');
    transition: 0.4s;
    border-radius: 50%;
    background-size: cover;

}

input:checked + .slider {
    background-color: #2c0b47;

}

input:checked + .slider:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);

}

input:checked + .slider::before {
    transform: translateX(36px);
    background-image: url('mode_night_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg');
    background-size: cover;
}




/* From Uiverse.io by rishichawda */ 
/* The switch - the box around the slider */
#theme-toggle-button {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 7em;
    cursor: pointer;
  }
  
  /* Hide default HTML checkbox */
  #toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #container,
  #patches,
  #stars,
  #button,
  #sun,
  #moon,
  #cloud {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
  }
  
  /* night sky background */
  #toggle:checked + svg #container {
    fill: #2b4360;
  }
  
  /* move button to right when checked */
  #toggle:checked + svg #button {
    transform: translate(28px, 2.333px);
  }
  
  /* show/hide sun and moon based on checkbox state */
  #sun {
    opacity: 1;
  }
  
  #toggle:checked + svg #sun {
    opacity: 0;
  }
  
  #moon {
    opacity: 0;
  }
  
  #toggle:checked + svg #moon {
    opacity: 1;
  }
  
  /* show or hide background items on checkbox state */
  #cloud {
    opacity: 1;
  }
  
  #toggle:checked + svg #cloud {
    opacity: 0;
  }
  
  #stars {
    opacity: 0;
  }
  
  #toggle:checked + svg #stars {
    opacity: 1;
  }
  